* {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #0C4160;
  color: #ffffff;
}

h1 {
  text-align: center;
  margin: 1rem 0;
}

p {
  margin: 1rem 0;
}

fieldset {
  background-color: #071330;
}